[submodule "backend"]
	path = backend
	url = https://github.com/KanumilliShravani/GVCC-backend.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/KanumilliShravani/GVCC-frontend.git
